<section>
    <section>
        <header>{{title}}</header>
        <p>{{post_content}}</p>
        <p>{{user.username}} - {{format_date created_at}}</p>
        <form id="new-comment-form" class="card-body">
            <div>
                <label for="content-input">Comment</label>
                <input type="text" id="content-input" />
                <button type="submit" id="new-comment-btn" class="btn">Create Post</button>
            </div>
        </form>
    </section>
    {{#each comments as |comment|}}
    <section>
        <header>
            {{comment.user.username}} - {{format_date comment.created_at}}
        </header>
        <p>{{comment.comment_content}}</p>
    </section>
    {{/each}}
</section>

<script src="/js/newComment.js"></script>