<section>
    <section>
        <header><h1>{{title}}</h1></header>
        <p>{{post_content}}</p>
        <p>{{user.username}} - {{format_date created_at}}</p>
        <form id="new-comment-form" class="card-body">
            <div>
                <input type="text" id="content-input" placeholder="Comment on this post!"/>
                <button type="submit" id="new-comment-btn" class="btn">Submit</button>
            </div>
        </form>
    </section>
    {{#each comments as |comment|}}
    <section>
        <header>
            {{comment.user.username}} - {{format_date comment.created_at}}
        </header>
        <p>{{comment.comment_content}}</p>
    </section>
    {{/each}}
</section>

<script src="/js/newComment.js"></script>